{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block title %}
  Rx Detail
{% endblock title %}
{% block subtitle %}
  <h2 style="color:#000; margin-left:4em; font-weight:700;">Details of the transaction</h2>
{% endblock subtitle %}
{% block content %}
  {# TX Detail #}
  <section class="container-fluid bg-midnight">
    <div class="row padding-2em">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="row">
          <article class="shadowed_details col-xs-12 col-lg-6">
            {# Rx info #}
            <table style="margin-bottom:0px!important;" id="crypto-table" class="table table-striped">
              <tr>
                <td class="a_grey" colspan="2"><strong>Details</strong></td>
              </tr>
              {# for field in prescription #}
              <tr><td class="a_grey" colspan="2"><strong>Genomic Country Data:</strong></td></tr>
              <section class="a_grey" class="countries">
              {% for country in rx.data %}
                <tr>
                  <td class="a_grey">Country Name {{ forloop.counter }}:</td>
                  <td class="a_grey country_name">{{ country.country_name }}</td>
                </tr>
                <tr>
                  <td class="a_grey">Percentage {{ forloop.counter }}:</td>
                  <td class="a_grey percentage">{{ country.percentage }}</td>
                </tr>
              {% endfor %}
              </section>
              </table>
          </article>

          <article class="shadowed_details col-xs-12 col-lg-6">
            {#Hashes info#}
            <table style="margin-bottom:0px!important;" id="crypto-table" class="table table-striped">
              <tr>
                <td class="a_grey" colspan="2"><strong>Hashes</strong></td>
              </tr>
              <tr>
                  <td class="a_grey">Hash:</td>
                  <td><a class="a_grey" href="/hash/{{rx.hash_id}}">{{ rx.hash_id }}</a></td>
              </tr>
              <tr>
                  <td class="a_grey">Previous Hash:</td>
                  <td><a class="a_grey" href="/hash/{{ rx.get_previous_hash }}">{{ rx.get_previous_hash }}</a></td>
              </tr>
            </table>
          </article>

        </div>
    </div>
  </section>

{% endblock content %}

{% block jsblock %}
{% endblock jsblock %}
